{{- $w := "" -}}
{{- $h := "" -}}
{{- $rel := strings.TrimPrefix "/" .Destination -}}
{{- if and (not (hasPrefix .Destination "http")) (fileExists (printf "static/%s" $rel)) -}}
  {{- with imageConfig (printf "static/%s" $rel) -}}
    {{- $w = .Width -}}
    {{- $h = .Height -}}
  {{- end -}}
{{- end -}}
{{- $src := .Destination -}}
{{- $isGif := strings.HasSuffix (strings.ToLower .Destination) ".gif" -}}
{{- if and (not $isGif) (hasPrefix .Destination "http") -}}
  {{- $src = partial "cf-image.html" (dict "src" .Destination "params" "width=1200,fit=scale-down,format=auto,quality=80,metadata=none") -}}
{{- end -}}
<figure class="article-image">
  <a href="{{ .Destination }}">
    <img
      src="{{ $src }}"
      data-full="{{ .Destination }}"
      alt="{{ .Text }}"
      loading="lazy" decoding="async"
      {{ with $w }}width="{{ . }}"{{ end }}
      {{ with $h }}height="{{ . }}"{{ end }}
    >
  </a>
  {{ if .Text }}
  <figcaption>
    {{ .Text }}
  </figcaption>
  {{ end }}
</figure>
