{{ define "main" }}
<div class="about-page">
  <header class="about-head">
    {{ if site.Params.avatar }}
      <img class="about-avatar" src="{{ site.Params.avatar | relURL }}" alt="{{ site.Params.author }}">
    {{ else }}
      <div class="about-avatar about-avatar-fallback">{{ substr site.Params.author 0 1 }}</div>
    {{ end }}
    <h1 class="about-name">{{ site.Params.author }}</h1>
    <p class="about-role">跑步、美食与文字非专业爱好者</p>
  </header>

  <div class="post-content about-body">
    {{ .Content }}
  </div>

  {{ partial "donate.html" (dict "hint" "如果本站对你有帮助，可以请我喝杯咖啡") }}
</div>
{{ end }}
