<footer class="site-footer">
  <div class="container footer-container">
    <p class="footer-copyright">&copy; {{ site.Params.since }}&ndash;{{ now.Format "2006" }} {{ site.Params.author }}</p>

    <p class="footer-links">
      <a href="https://profile.hulatu.com/" target="_blank" rel="noopener">花园</a>
      <a href="{{ "friends/" | relURL }}">友链</a>
      <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">开往</a>
      <a href="{{ "privacy/" | relURL }}">隐私</a>
      {{ if site.Params.email }}
      <a href="mailto:{{ site.Params.email }}">邮箱</a>
      {{ end }}
    </p>

    <a class="footer-license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a>
  </div>
</footer>
