{{- $page := . -}}
{{- $eager := false -}}
{{- if reflect.IsMap . -}}
  {{- $page = .page -}}
  {{- $eager = .eager | default false -}}
{{- end -}}
{{- $src := "" -}}
{{- with $page.Params.cover -}}
  {{- $name := replace (path.Base .) "%20" "_" -}}
  {{- $stem := strings.TrimSuffix (path.Ext $name) $name -}}
  {{- $thumb := printf "static/img/thumbs/%s.webp" $stem -}}
  {{- if fileExists $thumb -}}
    {{- $src = printf "/img/thumbs/%s.webp" $stem -}}
  {{- else -}}
    {{- $src = . -}}
  {{- end -}}
{{- end -}}
{{- if $src -}}
  <span class="post-thumb">
    <img src="{{ $src | relURL }}" alt="" width="220" height="220" loading="{{ if $eager }}eager{{ else }}lazy{{ end }}"{{ if $eager }} fetchpriority="high"{{ end }} decoding="async">
  </span>
{{- else -}}
  <span class="post-thumb post-thumb-fallback" aria-hidden="true">{{ substr $page.Title 0 1 }}</span>
{{- end -}}
