{{- $jsFiles := slice -}}
{{- range (slice "theme" "ui" "search" "pjax" "page-loader") -}}
  {{- $jsFiles = $jsFiles | append (resources.Get (printf "js/%s.js" .)) -}}
{{- end -}}
{{- $bundle := $jsFiles | resources.Concat "js/bundle.js" | minify | fingerprint -}}

{{- $pageFiles := slice -}}
{{- range (slice "giscus-theme" "toc" "code-copy" "lightbox") -}}
  {{- $pageFiles = $pageFiles | append (resources.Get (printf "js/%s.js" .)) -}}
{{- end -}}
{{- $pageBundle := $pageFiles | resources.Concat "js/page-extra.js" | minify | fingerprint -}}

<script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" data-search-index="{{ "search-index.json" | relURL }}" data-page-extra="{{ $pageBundle.RelPermalink }}"></script>
