{{- $jsFiles := slice -}}
{{- range (slice "theme" "ui" "search" "giscus-theme" "toc" "code-copy" "lightbox" "pjax") -}}
  {{- $jsFiles = $jsFiles | append (resources.Get (printf "js/%s.js" .)) -}}
{{- end -}}
{{- $bundle := $jsFiles | resources.Concat "js/bundle.js" | minify | fingerprint -}}
<script src="{{ "js/fuse.min.js" | relURL }}"></script>
<script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" data-search-index="{{ "search-index.json" | relURL }}"></script>
