{{- /* 返回文章列表缩略图 URL：优先用 static/img/thumbs/ 下同名 webp；
       否则回退到封面图，并通过 Cloudflare 转成 128x128 小图；没有封面时返回空串。 */ -}}
{{- $src := "" -}}
{{- with .Params.cover -}}
  {{- $name := replace (path.Base .) "%20" "_" -}}
  {{- $stem := strings.TrimSuffix (path.Ext $name) $name -}}
  {{- $thumb := printf "static/img/thumbs/%s.webp" $stem -}}
  {{- if fileExists $thumb -}}
    {{- $src = printf "/img/thumbs/%s.webp" $stem -}}
  {{- else -}}
    {{- $src = . -}}
  {{- end -}}
{{- end -}}
{{- if $src -}}
  {{- $src = partial "cf-image.html" (dict "src" $src "params" "width=128,height=128,fit=cover,format=auto,quality=75,metadata=none") -}}
{{- end -}}
{{- return $src -}}
